/* * {
  margin:  0;
  padding : 0;
  box-sizing : border-box;
} */

#box{
    border: 2px solid black;
    cursor: crosshair;
/*    
    width: 55%;
    height: 50%;
    margin-left:  50px;
    margin-top: 50px; */
   
}